.container{
    text-align:center;
    margin-top:40px;
    font-family:Arial;
}

button{
    margin:10px;
    padding:8px 18px;
    font-size:16px;
}

input{
    padding:8px;
    width:180px;
    margin-right:10px;
}