.container{
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
}

.officeCard{
    margin-bottom:35px;
}

img{
    margin-top:10px;
}

h1{
    margin-top:20px;
}

h2,h3{
    margin:8px;
}